Should Net::RDAP validate eventsDate against RFC3339 instead ISO8601?

It's more a question than an issue 😃 

Some registries do not comply with ISO8601. And then using `rdapper`, some `eventsDate` can end up as `1970-01-01T00:00:00.0Z` because [ISO 8601 date validation fails](https://github.com/gbxyz/perl-net-rdap/blob/master/lib/Net/RDAP/Event.pm#L72-L76) (e.g. date returned by registry RDAP server was `2027-06-13 23:59:59`)

## What is exactly the specification for dates in RDAP JSON events?
It's not clear to me 😓 

[RFC7483 section 4.5](https://datatracker.ietf.org/doc/html/rfc7483#section-4.5) speaks about `eventDate` and says:
> "eventDate" -- a string containing the time and date the event occurred.

But it does not specify the date format.

[RFC7483 section 3](https://datatracker.ietf.org/doc/html/rfc7483#section-3) mentions RFC3339:
> dates and times:  The syntax for values denoting dates and times is defined in RFC3339.

But it seems to apply to representation of dates inside the RFC document itself, not the protocol. 

In particular when we read at start of the section:

> This section describes the semantics and/or syntax reference for common, JSON character strings used in this document.

Contact informations in RDAP answers follows the jcard format defined by [RFC7095](https://datatracker.ietf.org/doc/html/rfc7095). It says:
> in jCard the specification uses date/time values aligned with the extended format of ISO.8601.2004, which is more commonly used in Internet applications that make use of the JSON  format

And later in [section 3.5.3](https://datatracker.ietf.org/doc/html/rfc7095#section-3.5.3) of the RFC7095:
> vCard "DATE" property values are represented by a property with the type identifier "date".  The value elements are JSON strings with the same date value specified by RFC6350, but represented using the extended format specified in ISO.8601.2004, Section 4.1.2.  If the complete representation is not used, the same date format restrictions regarding reduced accuracy, truncated representation, and expanded representation noted in RFC6350, Section 4.3.1 apply.  Whenever the extended format is not applicable, the basic format MUST be used.

But events are not living inside contact informations (hence vcard blocks) that are actually only "adjacent" to events and `eventDate`.

JSON specification does not specify a date format, but people say "ISO8601 is widely used" (source needed! 😁)  

## Conlusion
What Net::RDAP should do with registries not compliant with ISO8601 but with RFC3339?
1. Should Net::RDAP be more permissive in the validation? (change CPAN module used for datetime validation or validate less)
2. Should Net::RDAP be stricter and fail instead returning "dummy" 1970? (because after all, RDAP server is not implementing correctly the protocol)

Looking at others:
- RDAP.org web client is more permissive, e.g. [RDAP web client pizza.id](https://client.rdap.org/?object=pizza.id) not really doing validation but [formatting date](https://github.com/rdap-org/client.rdap.org/blob/master/assets/client.js#L600-L602)
- OpenRDAP client is also more permissive e.g. [OpenRDAP web client pizza.id](https://www.openrdap.org/demo?cmd=rdap+-v+pizza.id)

As an expert, what is your opinion?

>[RFC7483 section 3](https://datatracker.ietf.org/doc/html/rfc7483#section-3) mentions RFC3339:
>
>> dates and times: The syntax for values denoting dates and times is defined in RFC3339.
>
>But it seems to apply to representation of dates inside the RFC document itself, not the protocol.
>
>In particular when we read at start of the section:
>
>> This section describes the semantics and/or syntax reference for common, JSON character strings used in this document.

I don't think that's a reasonable interpretation of the text. What it's saying is "strings containing dates need to comply with RFC3339".

> What Net::RDAP should do with registries not compliant with ISO8601 but with RFC3339?
>
> 1. Should Net::RDAP be more permissive in the validation? (change CPAN module used for datetime validation or validate less)
> 2. Should Net::RDAP be stricter and fail instead returning "dummy" 1970? (because after all, RDAP server is not implementing correctly the protocol)
>
> Looking at others:
>
> - RDAP.org web client is more permissive, e.g. [RDAP web client pizza.id](https://client.rdap.org/?object=pizza.id) not really doing validation but [formatting date](https://github.com/rdap-org/client.rdap.org/blob/master/assets/client.js#L600-L602)
> - OpenRDAP client is also more permissive e.g. [OpenRDAP web client pizza.id](https://www.openrdap.org/demo?cmd=rdap+-v+pizza.id)
>
> As an expert, what is your opinion?

`Net::RDAP` needs to strike a balance between (1) maximum interoperability with the RDAP servers that exist in the wild and (b) ensuring that code that uses it can rely on it to return complete and accurate data (to the extent that the server provides it).

IMHO the RFC is unambiguous that the format described in RFC 3339 is the only correct format for JSON dates and times. If a server does not use that format, it is not in compliance with the RFC, and I don't think clients should bend over backwards to accomodate such quirks.


OK, and thank you for your clarifications 😃 

In this case, the [date format validation](https://github.com/gbxyz/perl-net-rdap/blob/master/lib/Net/RDAP/Event.pm#L73-L76) in Net::RDAP should be changed to accept dates like "2027-06-13 23:59:59" that is part of RFC3339.

(while continuing to support dates like "2028-06-16T04:00:00Z", a more usual format returned by RDAP servers, that is part of both RFC3339 and ISO8601)

# Reference
- [visual representation of RFC3339 and ISO8601](https://ijmacd.github.io/rfc3339-iso8601/) 

See [Section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) of RFC 3339:

```
date-time       = full-date "T" full-time
```

So the `T` is a mandatory part of the string (as is the offset).

It says also:

> NOTE: ISO 8601 defines date and time separated by "T". Applications using this syntax may choose, for the sake of readability, to specify a full-date and full-time separated by (say) a space character.

But it does not change that you're right, "2027-06-13 23:59:59" is not compliant (at least because of the missing ending "Z" or "z").

Thank you! 🙇🏼‍♂️ 